<div class="container" *ngIf="total$">
  <table class="table">
    <thead>
      <th>Item</th>
      <th>Qrt</th>
      <th>Price unit</th>
      <th>Sub Total</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart$ | async">
        <td>{{ item.name }}</td>
        <td>{{ item.qty }}</td>
        <td>{{ item.price | currency: "GBP" }}</td>
        <td>{{ item.price * item.qty | currency: "GBP" }}</td>
      </tr>
    </tbody>
  </table>

  <div class="containier_total">
    <p class="total">
      <strong
        >Total <span>{{ total$ | async | currency: "GBP" }}</span></strong
      >
    </p>
  </div>
</div>

<!-- <p>Total productos in the cart</p>
{{ cart$ | async | json }}
<hr />
<p>Total amout in cart</p>
{{ total$ | async | json }}

{{ valor | async | json }} -->
